body{
    background-color: blue;
}
h1{
    color: crimson;
    font-size: 22pt;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: deeppink;
}
.forma{
    text-align: justify;
    font-size: 13pt;
}
.formazas{
    text-align: center;
    font-size: 11pt;
    color: hotpink;
}